@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700');
@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'variables-theme';

//
// GLOBAL ELEMENTS
//

// fix Chrome glitch in default ol/ul positioning
ol,
ul {
  -webkit-padding-start: 20px;

  li:not(:last-of-type) {
    margin-bottom: $quarter-space;
  }
}

// set span-label to bold caps
.span-label {
  font-weight: bold;
  text-transform: uppercase;
}

.btn > .glyphicon {
  margin-right: $quarter-space;
}

.btn-row {
  .btn-group + .btn-group {
    margin-left: $quarter-space;
  }
}

//
// HEADER AND FOOTER STYLES
//

// header placeholder to set base header styles

%header {
  align-items: center;
  background: $header-bg-color;
  border-bottom: 1px solid $header-border-color;
  display: flex;
}

// top level page header (FPO)

.header-page {
  @extend %header;
  min-height: $header-page-height;
}

// nav header (FPO)

.header-nav {
  @extend %header;
  min-height: $header-nav-height;
}

// footer styles

footer {
  align-items: center;
  background: $header-bg-color;
  border-top: 1px solid $header-border-color;
  display: flex;
  min-height: $footer-height;
}

//
// HERO STYLES
//

.hero {
  background: $hero-bg-color;
  color: $hero-color;
  margin-bottom: $base-space;

  @media (min-width: $screen-md) {
    padding: $base-space;
  }

  h1 {
    font-size: $hero-heading-size;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @media (min-width: $screen-md) {
      min-height: $hero-min-height;
    }
  }

  .hero-icon {
    color: $hero-color-secondary;
    font-size: $hero-icon-size;
    margin-right: $quarter-space;
  }

  .hero-copy {
    color: $hero-color-secondary;
    display: inline-block;

    p {
      font-size: $hero-font-size;
      margin-bottom: 0;
    }
  }

  .hero-footer {
    // use flex to push to bottom
    margin-top: auto;

    @media (max-width: $screen-sm-max) {
      margin-top: $base-space;
    }
  }

  .hero-aside {
    color: $text-color;
  }
}

.body-main > .btn {
  margin-bottom: $half-space;
}

//
// BODY STYLES
//



//
// COMPONENTS
//

// ratings component used in hero

.ratings {
  align-items: center;
  display: flex;
  margin-bottom: $half-space;

  .stars {
    display: inline-block;
    font-size: $hero-font-size;
    line-height: $hero-font-size;
    margin-right: $quarter-space;
  }
}

// share component used in hero

.share {
  @media (max-width: $screen-sm-max) {
    margin-bottom: $base-space;
  }

  .btn-share {
    border-radius: $btn-border-radius-base 0 0 $btn-border-radius-base;
    padding: 6px 0 6px 12px;

    .badge {
      background: $brand-primary;
      border-radius: 0;
      margin: -6px 1px -6px 6px;
      padding: 9px 6px;
    }
  }

  .share-menu {
    min-width: 240px;
    padding: $quarter-space;

    p {
      color: $text-color;
      font-size: $font-size-base;
    }
  }

  .share-search-list {
    margin-bottom: 0;
    padding: $quarter-space;

    li:last-child {
      margin-bottom: 0;
    }

    .name, .email {
      margin-bottom: 0;
    }

    .name {
      font-weight: bold;
    }

    .email {
      font-style: italic;
    }
  }
}

// nav-panel component used in hero

.nav-panel {
  .panel-heading {
    border-bottom: 0;
    padding-bottom: 0;

    .panel-title {
      font-size: $hero-font-size;
    }
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    li:not(:last-of-type) {
      margin-bottom: $half-space;
    }
  }
}

// video component used in sidebar


.video {
  margin-bottom: $line-height-computed;
}

// support component used in sidebar

.support {
  border: 0;
  box-shadow: none;

  .panel-heading {
    border: 0;
    padding: $half-space 0;

    .panel-title {
      font-size: $hero-font-size;
    }
  }

  .support-list {
    border: 1px solid $gray-light;
  }

  .support-list-item:not(:first-of-type) {
    border-top: 1px solid $gray-light;
  }

  .support-list-item-heading {
    border-bottom: 1px solid $gray-light;
    display: flex;
    padding: $half-space $quarter-space;

    h4 {
      margin: 0;

      span {
        font-size: $font-size-base;
      }
    }

    a {
      margin-left: auto;
    }

    @media (min-width: $screen-md) and (max-width: $screen-lg) {
      flex-direction: column;

      a {
        margin-left: 0;
        margin-top: $quarter-space;
      }
    }

  }

  .support-list-item-body {
    background-color: $gray-lighter;
    padding: $quarter-space;

    ul {
      margin-bottom: 0;
    }
  }
}

//
// CUSTOM ICON CLASSES
//

// icon classes

.icon-objective {
  &::before {
    content: '\e165';
  }
}

.icon-description {
  &::before {
    content: '\e022';
  }
}

.icon-before {
  &::before {
    content: '\e043';
  }
}

.icon-during {
  &::before {
    content: '\e123';
  }
}

.icon-tip {
  &::before {
    content: '\e062';
  }
}

//
// CUSTOM LINK STYLES WITH ICONS
//

// default link-icon SASS placeholder

%link-icon {
  display: block;

  &::before {
    color: $link-color;
    // default = external link icon
    content: '\e164';
    float: left;
    font-family: 'Glyphicons Halflings';
    font-size: 18px;
    margin-right: $quarter-space;
    margin-top: -4px;
  }
}

// download link icon

.link-download {
  @extend %link-icon;

  &::before {
    content: '\e025';
  }
}

// external link icon

.link-external {
  @extend %link-icon;

  &::before {
    content: '\e164';
  }
}

.text-warning {
  @extend %link-icon;
  margin-left: $icon-offset;

  &::before {
    color: $alert-warning-text;
    content: '\e101';
    margin-left: -$icon-offset;
  }
}

.text-success {
  @extend %link-icon;
  margin-left: $icon-offset;

  &::before {
    color: $alert-success-text;
    content: '\e084';
    margin-left: -$icon-offset;
  }
}

// tips list items with icons

.list-tips {
  margin-bottom: $base-space;
  padding-left: 0;

  li {
    @extend %link-icon;

    &,
    &::before {
      color: $gray-light;
    }

    &:not(:last-of-type) {
      margin-bottom: $half-space;
    }

    &::before {
      content: '\e062';
    }

    p {
      margin-left: $icon-offset;
    }
  }
}

//
// TAB PANEL STYLES
//

.body-tabs {
  margin-bottom: $line-height-computed;

  .nav-tabs {
    border-bottom: 0;
    display: flex;
    width: 100%;

    li {
      flex-grow: 1;
      margin-bottom: 0;
      text-align: center;
    }

    li:not(.active) > a {
      background-color: $gray-lighter;
    }

    li.active > a,
    li > a {
      border: 1px solid $gray-light;
      font-weight: bold;
      margin-right: 0;
    }

    li:not(:last-of-type) > a {
      border-right: 0;
    }

  }

  .tab-pane {
    border: 1px solid $gray-light;
    border-top: 0;
    padding: $panel-body-padding;
  }
}

// tab panel components

div[class^="tab-panel-"] {
  .glyphicon {
    margin-right: $quarter-space;
    top: 2px;
  }
}

.tab-panel-section {
  margin-bottom: $line-height-computed;
}

// about panel styles

.tab-panel-about {
  .about-aside {
    background: $header-bg-color;
    border: 1px solid $gray-light;
    margin-bottom: $quarter-space;
    padding: $half-space;

    h4 {
      margin-top: 0;
    }
  }

  .sub-text {
    color: $gray-light;
    font-size: $font-size-small;
  }
}

// examples panel styles

.content-objectives {
  background-color: $gray-lighter;
  border: 1px solid $gray-light;
  margin-bottom: $line-height-computed;
  padding: $quarter-space;
}

.content-examples {
  padding: $quarter-space;
}

// comments panel styles

.tab-panel-comments {
  padding-bottom: $half-space;
}

.comment {
  display: flex;

  &:not(:last-of-type) {
    border-bottom: 1px solid $gray-light;
    margin-bottom: $base-space;
    padding-bottom: $base-space;
  }

  img {
    height: 100%;
    margin-right: $half-space;
  }

  .user {
    font-weight: bold;
    text-transform: uppercase;
  }

  .date {
    color: $gray-light;
    font-size: $font-size-small;
  }

  .like {
    &,
    &:hover {
      text-decoration: none;
    }

    .glyphicon {
      margin-right: $quarter-space;
    }
  }
}

// note panel styles

.note {
  &:not(:last-of-type) {
    border-bottom: 1px solid $gray-light;
    margin-bottom: $base-space;
    padding-bottom: $base-space;
  }

  .title {
    font-weight: bold;
  }

  .date {
    color: $gray-light;
    font-size: $font-size-small;
  }

}
