{{!-- page header --}}
{{> header}}

<main>
  {{!-- hero region --}}
  {{> hero data.hero}}

  {{!-- main page content --}}
  {{> content-main data.body}}
</main>

{{!-- page footer --}}
{{> footer }}
