<div class="content-main container">
  <div class="row">
    <div class="body-main col-md-8">

      {{> tab-panels panels=panels}}

      {{!-- TODO: add helper to count comments + notes --}}
      <h2>{{comments.title}}</h2>

      <button type="button" class="btn btn-primary">Add New Comment</button>

      {{> tab-panels panels=comments.panels}}

    </div> {{!--close body content --}}

    {{!-- main page sidebar --}}
    {{> content-aside aside}}

  </div> {{!--close body row --}}
</div> {{!--close body main --}}
