<div class="jumbotron hero">
  <div class="container">
    <div class="row">

      {{!-- hero main content --}}
      <div class="col-md-8">
        <div class="hero-content">
          <h1>{{content.title}}</h1>

           {{!-- icon with offset text --}}
          <div>
            <span class="glyphicon glyphicon-record hero-icon" aria-hidden="true"></span>

            {{#if content.copy}}
              <div class="hero-copy">
                {{#each content.copy as |copy|}}
                  <p>{{copy}}</p>
                {{/each}}
              </div>
            {{/if}}
          </div>

          {{!-- hero footer --}}
          <div class="hero-footer">

            {{!-- ratings module --}}
            {{> ratings content}}

            {{!-- share module --}}
            {{> share content}}
          </div>

        </div>
      </div>

      {{!-- hero aside --}}
      <div class="col-md-4 hero-aside">
        {{!-- navpanel module --}}
        {{> nav-panel navpanel}}
      </div>

    </div>
  </div>
</div>
