<div class="share">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Save <span class="badge">{{saves}}</span></button>
    <div class="dropdown-menu">
      <li><a href="#">Save Feature Goes Here</a></li>
    </div>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Share <span class="badge">{{shares}}</span></button>
    <div class="dropdown-menu">
      <li><a href="#">Share Feature Goes Here</a></li>
    </div>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comments <span class="badge">{{comments}}</span></button>
    <div class="dropdown-menu">
      <li><a href="#">Comments Feature Goes Here</a></li>
    </div>
  </div>


</div>
